@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

/*
google fonts added to the boody
oswald-<uniquifier> {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 200 to 700

oswald-<uniquifier> {
  font-family: "Oswald", serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}
*/

/*astrick slector to override the default style added by the browser*/
*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

/* general styling*/
body{
    min-height:100vh;
    display:flex;
    flex-direction:column;
    font-family: "Oswald", serif;
/*generic project styles*/
  background-color:#806e6e3a;

}
/*header*/
.header{
background-color: rgb(255, 255, 255);
 padding: 0 1rem;
 position:fixed;
 z-index: 99;
 width: 100%;
 box-shadow: 0 2px 2px #a3a3a3a3;
 display:flex;
 justify-content:space-between;
 align-items: baseline;
}
header a{
  text-decoration: none;
  color:inherit
}
h1{
  font-family:'Oswald', sans-serif;
  text-transform:uppercase;
  letter-spacing: 2px;
  color: #252525;

}
#menu{
  font-size:1,1rem;
  letter-spacing: 4px;
  list-style: none;
}

/*targeting the lists inside the menu*/

#menu > li{
  margin-bottom:1em;
}

/*main content */


.main{
    background-color: yellow;
    /*make main element take up any surplus space to puch footer down*/
    flex:1 0 auto;
    margin-top:47px;
}

.active{
  border-bottom: 1px solid #252525;
}

/* navigation bar*/

nav{
  position: absolute;
  background-color: #fff;
  width:100%;
  left: 0;
  padding:0 1rem;
  box-shadow: 0 2px 2px #a3a3a3a3;;
  display:none;
  top:100%;
}
 
/*nav toggle*/
#nav_toggle:checked~nav{
  display:block;
}

#nav_toggle{
  display:none;
font-size: 2rem;

}
.nav_toggle_label{
  font-size:2rem;
}
/*footer*/
.footer{
    background-color: red;
}

/*media query for tablet and larger devices*/
@media screen and (min-width:768px) {
  nav{
    background-color: rgb(73, 130, 130);
    display: block;
    position:relative;
    box-shadow: none;
    width:fit-content;
    padding-right: 1rem;
  }
#menu{
  display: flex;
}
#menu > li{
  padding-left: 1rem;
}
.nav_toggle_label{
  display:none;
}
#logo{
  font-size: 280%;
  line-height:75px;
  margin:0 0.5rem;
}
main{
  /*push main down to accomadate larger header*/
  margin-top: 79px;
}
}

@media screen and (min-width: 992px) {
  #menu a:hover{
    border-bottom: 1px solid #252525;
  }
}

